<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Soy Agencia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
  </head>
  <body>
    <!-- Logo -->
    <section class="container logo-cont">
      <img class="item logo" src="../../assets/img/Recurso 18.svg" data-aos="flip-up" data-aos-duration="2000">
      <h4 class="plataforma font item" data-aos="flip-down" data-aos-duration="4000">Plataforma de Marketing Digital</h4>
    </section> 
    <!---->   
      <button type="button" class="btn btn-primary float-button font" data-toggle="modal" data-target="#exampleModalCenter">Contacto</button>   
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title font" id="exampleModalCenterTitle">Déjanos tu correo y nosotros nos comunicaremos contigo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="input-group flex-nowrap inputs">
                <input type="text" class="form-control font" placeholder="Nombre" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap inputs">
                <input type="text" class="form-control font" placeholder="Teléfono" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap inputs">
                <input type="text" class="form-control font" placeholder="Correo" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary font">Enviar</button>
            </div>
          </div>
        </div>
      </div>
      <!---->
    <!-- Cards Buttons-->
    <section class="container-fluid all-cards">
      <div class="row row-buttons">
        <div class="card card-button font" style="width: 11rem; height: 5.5rem;" data-aos="flip-up" data-aos-duration="100">
          <div class="card-body card-button-body">
            <a href="#elige-soy-agencia" class="remove-link-default"><h5 class="card-title card-button-title">Elige Soy Agencia</h5></a>
          </div>
        </div>
        <div class="card card-button font" style="width: 11rem; height: 5.5rem;" data-aos="flip-up" data-aos-duration="300">
          <div class="card-body card-button-body">
            <a href="#nuestro-servicio"><h5 class="card-title card-button-title">Nuestro Servicio</h5></a>
          </div>
        </div>
        <div class="card card-button font" style="width: 11rem; height: 5.5rem;" data-aos="flip-up" data-aos-duration="500">
          <div class="card-body card-button-body">
            <a href="#familia"><h5 class="card-title card-button-title">La Familia Soy Agencia</h5></a>
          </div>
        </div>
        <div class="card card-button font" style="width: 11rem; height: 5.5rem;" data-aos="flip-up" data-aos-duration="700">
          <div class="card-body card-button-body">
            <a href="#clientes"><h5 class="card-title card-button-title">Clientes</h5></a>
          </div>
        </div>
        <div class="card card-button font" style="width: 11rem; height: 5.5rem;" data-aos="flip-up" data-aos-duration="900">
          <div class="card-body card-button-body">
            <a href="#testimonios"><h5 class="card-title card-button-title">Testimonios</h5></a>
          </div>
        </div>
      </div>
    </section>
    <!---->
    <!-- ¿Por qué Soy Agencia? -->
    <section class="container" id="elige-soy-agencia" data-aos="fade-up" data-aos-duration="1000">
      <h1 class="font bolder header secciones">Elige Soy Agencia</h1>
      <section class="secciones-agencia" data-aos="fade-up" data-aos-duration="500">
        <h3 class="font"><em class="color-text">¿Qué hacemos?</em></h3>
        <p class="font text">Damos una solución completa a todas tus necesidades de Marketing Digital y Desarrollo web, todo a un precio único y mensual.</p>
        <p class="font text">Imagínate Netflix, por un precio mensual, ¡consume todo lo que quieras!</p>
        <p class="font text">Nacemos de la necesidad que, como empresarios tuvimos al no contar con un sólo proveedor con mucha experiencia en desarrollo, marketing, diseño, campañas; y en lugar de eso, tener que negociar con un sin número de agencias y freelancers.</p>
        <p class="font text">Con nuestra plataforma podrás pedir todo lo que necesites, tendrás un tiempo exacto de entrega de tu requerimiento y verás quién es la persona que lo está desarrollando.</p>
        <p class="font text">Buscamos que tengas el mejor Retorno Sobre la Inversión, y esto lo obtienes en ahorro y/o incremento de tus prospectos.</p>
      </section>
      <section class="secciones-agencia" data-aos="fade-up" data-aos-duration="500">
        <h3 class="font"><em class="color-text">Nuestra propuesta</em></h3>
        <p class="font text">Queremos ayudarte a que tengas más tiempo libre y te enfoques en tus productos o servicios y en tus clientes.</p>
        <p class="font text">Con nuestro servicio completo, estás delegando todo lo relacionado a Marketing, Diseño y Desarrollo a nosotros, que estamos para ayudarte.</p>
        <p class="font text">No tienes que preocuparte en programar campañas en Facebook Ads o aprender Analytics sólo para entender de dónde viene el tráfico a tu sitio. Nosotros nos encargamos y te damos reportes inteligentes y fáciles en base a los objetivos de tu empresa.</p>
      </section>
    </section>
    <!---->
    <!-- Nuestro Servicio -->
    <section class="container font" id="nuestro-servicio" data-aos="fade-right" data-aos-duration="1000">
      <h1 class="font bolder secciones">Nuestro Servicio</h1>
        <div class="row">

          <div class="col-sm-4" data-aos="fade-right" data-aos-duration="200">
            <div class="card card-service">
              <div class="card-body card-body-service">
                <h4 class="card-title card-title-service bolder">Desarrollo Web</h4>
                <p class="card-text text">Creamos la mejor versión de tu página web en el menor tiempo posible.</p>
                <button type="button" class="btn btn-primary btn-service" data-toggle="modal" data-target="#exampleModalLong">Abrir</button>
                <!--Modal-->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <p>Especificaciones:</p>
                            <li>Desarrollo en código HTML & CSS o plataforma.</li>
                            <li>Incluye diseño de UX (UserExperience) para la mejor navegación.</li> 
                            <li>Puede incluir Blog.</li>
                            <li>Puede incluir Mapa de Google.</li>   
                            <li>Puede incluir caja de búsqueda de información.</li>      
                            <li>Incluye integraciones con otras plataformas siempre y cuando haya API’s disponibles.</li> 
                            <li>Incluye hosting ilimitado.</li>              
                            <li>Incluye integración con sistemas de pago como Paypal, MercadoPago o Conekta (la cuenta la crea el cliente).</li>  
                            <li>Fotografías (usamos plataformas como Unsplash).</li>
                            <li>Nuestros sitios los hacemos 100% compatibles con dispositivos móviles.</li>            
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!---->
              </div>
            </div>
          </div>

          <div class="col-sm-4" data-aos="fade-right" data-aos-duration="400">
            <div class="card card-service">
              <div class="card-body card-body-service">
                <h4 class="card-title card-title-service bolder">Diseño Gráfico</h4>
                <p class="card-text text">Te ayudamos a diseñar todo lo que tu empresa necesite.</p>
                <button type="button" class="btn btn-primary btn-service" data-toggle="modal" data-target="#exampleModalLong2">Abrir</button>
                <!--Modal-->
                <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <li>Banners para tus redes sociales.</li>
                        <li>Diseños para tus posts de redes.</li>
                        <li>Publicidad para espectaculares.</li>
                        <li>Diseño para impresión (tazas, camisetas, etc.).*</li>
                        <li>Diseños para tus mails.</li>
                        <li>Brochures o trípticos informativos.</li>
                        <li>Material comercial.</li>
                        <li>Reportes de ventas.</li>
                        <li>Reportes de resultados.</li>
                        <li>Reportes anuales y trimestrales.</li>
                        <li>Gráficos para tu e-commerce.</li>
                        <li>Diseño para posts de blog.</li>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              <!---->
            </div>
          </div>
        </div>

          <div class="col-sm-4" data-aos="fade-right" data-aos-duration="600">
            <div class="card card-service">
              <div class="card-body card-body-service">
                <h4 class="card-title card-title-service bolder">Manejo de Redes Sociales</h4>
                <p class="card-text text">Queremos que puedas enfocarte en tus clientes, es por esto que nosotros te ayudamos a gestionar tus redes sociales.</p>
                <button type="button" class="btn btn-primary btn-service" data-toggle="modal" data-target="#exampleModalLong3">Abrir</button>
                <!--Modal-->
                <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Esto incluye:</p>
                        <li>Diseño del arte de los posts.</li>
                        <li>Programación de posteo en todas las redes que apliquen (Facebook, Instagram, Linkedin, Pinterest, Twitter).</li>
                        <li>Generación de reportes estratégicos (crecimiento, prospecto, etc.).</li>
                        <li>Atención a clientes. Contestamos la información que nos indiques a tus clientes para ayudarte con tus ventas.</li>
                        <li>Creación de campañas temáticas.</li>
                        <li>Análisis y selección de horarios. Buscamos los horarios óptimos de publicación de tu audiencia para tener mayor alcance.</li>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
              </div>
            </div>
          </div>

          <div class="col-sm-4" data-aos="fade-left" data-aos-duration="600">
            <div class="card card-service">
              <div class="card-body card-body-service">
                <h4 class="card-title card-title-service bolder">Diseño y Ejecución de Campañas</h4>
                <p class="card-text text">Te ayudamos a crear campañas en base a tus objetivos, ya sea generar más venta, obtener más prospectos o dar a conocer tu marca.</p>
                <button type="button" class="btn btn-primary btn-service" data-toggle="modal" data-target="#exampleModalLong4">Abrir</button>
                <!--Modal-->
                <div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Crearemos audiencias en base a tu perfil de cliente y ejecutaremos las campañas en las plataformas con más posibilidad de éxito.</p>
                        <p>Creamos campañas en:</p>
                        <li>Facebook (Ads).</li>
                        <li>Google AdWords.</li>
                        <li>Linkedin (Ads).</li>
                        <li>Twitter for business.</li> 
                        <br>
                        <p>Tú decides el presupuesto que quieras invertir cada mes y nosotros te ayudamos a ejecutarlo y optimizarlo. Antes de iniciar cada campaña definiremos los objetivos contigo y empezamos.</p>
                        <p>Es un proceso de aprendizaje constante en donde obtendrás los resultados que necesitas.</p>
                        <p>Todo incluido dentro de nuestro paquete de servicios.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
              </div>
            </div>
          </div>

          <div class="col-sm-4" data-aos="fade-left" data-aos-duration="400">
            <div class="card card-service">
              <div class="card-body card-body-service">
                <h4 class="card-title card-title-service bolder">Automatización de tu e-mail Marketing</h4>
                <p class="card-text text">El e-mail sigue siendo la herramienta más poderosa dentro del arsenal de estrategias de marketing digital, y probablemente ya cuentes con una base de datos de clientes, ¿por qué no maximizarla?</p>
                <button type="button" class="btn btn-primary btn-service" data-toggle="modal" data-target="#exampleModalLong5">Abrir</button>
                <!--Modal-->
                <div class="modal fade" id="exampleModalLong5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Nosotros te ayudamos a configurar tu estrategia de e-mail marketing para automatizar procesos, dar mejor servicio a tus clientes, dar la bienvenida a clientes nuevos y maximizar el valor de cada cliente.</p>
                        <p>Esto incluye:</p>
                        <li>Diseño de Templates de cada correo para cada etapa.</li>
                        <li>Creación de automatización y pasos (activamos los mails de manera automática).</li>
                        <li>Manejo de base de datos.</li>
                        <li>Plataforma SendPulse incluida (para programación y envío de mails automatizados).</li>
                        <li>Reporte semanal de Base de Datos, mails abiertos, clicks, etc.</li>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4" data-aos="fade-left" data-aos-duration="200">
            <div class="card card-service">
              <div class="card-body card-body-service">
                <h4 class="card-title card-title-service bolder">Creación de Videos Animados</h4>
                <p class="card-text text">Hoy en día, el formato de video es el medio más consumido en internet. Y esta tendencia sigue creciendo.</p>
                <button type="button" class="btn btn-primary btn-service" data-toggle="modal" data-target="#exampleModalLong6">Abrir</button>
                <!--Modal-->
                <div class="modal fade" id="exampleModalLong6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Creamos videos animados para fortalecer tu presencia en línea, tú nos dices que quieres que diga y lo creamos para ti.</p>
                        <p>Los videos pueden ser:</p>
                        <li>Presentación de tus servicios o productos.</li>
                        <li>Listas.</li>
                        <li>Recomendaciones.</li>
                        <li>Capacitación.</li>
                        <li>Comunicar algún lanzamiento.</li>
                        <br>
                        <p>*Es importante que tú nos des el contenido y guión (no te preocupes, te ayudamos a llenarlo) para que podamos transmitir el mensaje de manera correcta.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
              </div>
            </div>
          </div>

        </div>
    </section>
    <!---->
    <!--Video-->
    <section class="container video-cont">
        <video class="item-video" controls>
          <source src="../../assets/img/soyagencia-PromoShort.mp4" type="video/mp4">
        </video>
    </section>
    <!--Equipo-->
    <section class="container" id="familia">
      <h1 class="font bolder secciones">La Familia Soy Agencia</h1>
      <article class="row">
        <img class="gifs" src="../../assets/img/Oreo.gif">
        <img class="gifs" src="../../assets/img/Alfredo.gif">
        <img class="gifs" src="../../assets/img/Daniela.gif">
        <img class="gifs" src="../../assets/img/Majo.gif">
        <img class="gifs" src="../../assets/img/Hernny.gif">
        <img class="gifs" src="../../assets/img/Yunuen.gif">
        <img class="gifs" src="../../assets/img/Eric.gif">
      </article>
    </section>
    <!---->
    <!--Clientes-->
    <section class="container clientes" id="clientes">
      <h1 class="font bolder secciones">Algunos de nuestros clientes</h1>
      <article class="row">
        <img class="clientes-item" src="../../assets/img/axeleravector.svg">
        <img class="clientes-item" src="../../assets/img/consoltumvector.svg">
        <img class="clientes-item" src="../../assets/img/Dot Fit vector.svg">
        <img class="clientes-item" src="../../assets/img/maltaapvector.svg">
        <img class="clientes-item" src="../../assets/img/IDEXXvector.svg">
        <img class="clientes-item" src="../../assets/img/seedspacevector (1).svg">
        <img class="clientes-item" src="../../assets/img/WCvector.svg"> 
        <img class="clientes-item" src="../../assets/img/bricklane.svg">
      </article>
    </section>
    <!---->
    <!--Testimonios-->
    <section class="container" id="testimonios">
      <h1 class="font bolder secciones">Testimonios</h1>
      <h4 class="text-testi">IDEXX</h4>
      <p class="testi">"Nos ayudaron a incrementar nuestro posicionamiento en México como Líderes de Pruebas químicas en el ramo Veterinario e incrementar nuestras ventas en un 40% en redes sociales".</p>
      <p class="empresario">Guilherme Dos Reis - Gerente Marketing IDEXX animal companion.</p>
      <h4 class="text-testi">.FIT</h4>
      <p class="testi">"Al ser una empresa global, fue muy bueno trabajar con Soy Agencia por su equipo bilingüe y muchas conexiones en Latinoamerica. Nos ayudaron a generar conversiones y aumentar nuestra venta de dominios".</p>
      <p class="empresario">Solomon Amoako - Vice President of Business Development.</p>
      <h4 class="text-testi">Humanify</h4>
      <p class="testi">"Con Soy Agencia logramos segmentar nuestra audiencia y enfocarnos en nuestro top line. Como startup, trabajar con agencias tradicionales es muy difícil por que se mueven a otro ritmo, con Soy Agencia y su plataforma, todo es muy fluido, rápido y transparente".</p>
      <p class="empresario">Marcos Penhos - CEO.</p>
      <h4 class="text-testi">Maltapp</h4>
      <p class="testi">"Creamos nuevas alianzas y mucha interacción de la audiencia. Su servicio completo nos ayuda a optimizar los recursos y no tener que preocuparnos por limitarnos o gastar de más".</p>
      <p class="empresario">Tero Moliis - Founder & CEO.</p>
    </section>
    <!---->
    <!--Redes Sociales-->
    <section class="container">
      <div class="row position-redes">
        <a href="https://www.facebook.com/soyagencia/?ref=br_rs" target="_blank" rel="noopener noreferrer" class="redes"><img class="redes" src="../../assets/img/black-and-white-facebook-logo-png-3.png"></a>
        <a href="https://twitter.com/agenciasoy" target="_blank" rel="noopener noreferrer" class="redes"><img class="redes" src="../../assets/img/black-and-white-twitter-logo-transparent_100736.png"></a>
        <a href="https://www.instagram.com/agenciasoy/?hl=es-la" target="_blank" rel="noopener noreferrer" class="redes"><img class="redes" src="../../assets/img/Instagram-Download-Transparent-PNG-Image.png"></a>
      </div>
    </section>
    <!--Footer-->
    <footer>
      <div class="footer"></div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/37972514c6.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip(); 
      });
    </script>
    <script>
      AOS.init();
    </script>
    <script src="readmore.js"></script>
    <script src="index.js"></script>
  </body>	
</html>