/* Cards botones*/
.card-button {
    display: flex;
    margin: 0.5rem !important;
    /* margin-bottom: 5%; */
    background-color: #FF26D0;
    border: 0;
}

.card-button-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button-title {
    color: white !important;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

.all-cards {
    width:50vw;
    height:50vh;
    background-color: #1D1D1D;
}

.container {
    flex-wrap: wrap;
    width: 100%; 
    margin-top: 5%;
}  

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    /* height: 100%; */
    /* justify-content: center;
    align-items: center;  */
}

.row {
    /* margin: auto; */
    display: flex;
}

.row-buttons {
    margin: auto;
    display: flex;
}

/* Logotipo y mensaje */
.logo-cont {
    width:100vw;
    height:100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
} 

.item {
    flex: 1;
}

.plataforma {
    font-size: 1.8rem;
    height: 10vh;
    text-align: center;
    margin-top: 0;
    font-weight: bolder;
}

/* Botón flotante */
.float-button{
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    color: white;
    background-color: #FFC300 !important; 
    position: fixed;
    left: 2%;
    bottom: 3%;
    z-index: 1;
}

.inputs {
    margin: 1%;
}

/* Fuente */
.font {
    font-family: 'Brandon Grotesque Light';
}


.bolder {
    font-family: 'Brandon Grotesque Regular Italic';
}

.bigger {
    font-size: 2rem;
}

.text {
    font-size: 1.2rem;
}

.text-testi {
    font-family: 'Brandon Grotesque Light Italic';
    font-weight: bolder;
}

.testi {
    font-family: 'Brandon Grotesque Light Italic';
    font-size: 1.2rem;
}

.color-text {
    color: #E522BB;
    font-weight: bolder;
    font-size: 2rem;
}

h3 {
    display: inline;
}

/* .marker {
    border-radius: 1em 0 1em 0;
    background-image: 
    linear-gradient(-100deg, 
    rgba(127,19,104,0.15),
    rgba(229,34,187,0.8) 100%, 
    rgba(255,38,208,0.25)
    ); 
    background-color: #FF26D0;
    color: aliceblue;
    font-weight: bolder;
} */

/* Encabezados */
.header {
    margin-top: 10%;
}

/* Espacio entre secciones juntas*/
.secciones-agencia {
    margin-top: 5%;
}
.secciones {
    margin-bottom: 5%;
}

/* Cards de Servicios*/
.card-service {
    display: flex;
    margin: auto;
    margin-bottom: 5%;
    border-color: black;
}

.card-title-service {
    color: black;
    text-align: center;
    /* font-size: 1.1rem; */
    margin-bottom: 5%;
    /* margin: 0; */
}

.btn-service {
    background-color: #FF26D0 !important;
    border: 0;
}

/*Video*/
.video-cont{
    display: flex;
}

.item-video {
    flex: 1;
}

/*Gifs*/
.gifs {
    max-width: 15rem;
    max-height: 10rem;
    margin: 2% auto;
}

.nombres {
    text-align: center;
}

/* Clientes */
.clientes-item {
    display: flex;
    flex-direction: column;
    margin: 3%;
    /* margin-bottom: 5%; */
    max-width: 13rem;
    /* justify-content: center; */
}

/*Testimonios*/
.empresario {
    font-family: 'Brandon Grotesque Light Italic';
    font-weight: bolder;
    text-align: right;
    margin-right: 5%;
}

/* Redes Sociales*/
.redes {
    max-width: 7rem;
    max-height: 7rem;
    margin: auto;
}

.position-redes {
    height: 100vh;
}

/* Footer */
.footer {
    background-color: #FF26D0;
    height: 10rem;
}

/*fuente */
@font-face {
    font-family: 'Brandon Grotesque Light';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light'), url('../fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
    }

@font-face {
    font-family: 'Brandon Grotesque Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Regular Italic'), url('../fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
        }

@font-face {
    font-family: 'Brandon Grotesque Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light Italic'), url('../fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff');
            }

/* Video */
@media only screen and (min-device-width:320px) and (max-device-width:1068px) {
    .item-video {
        flex: 1;
        width: 100% !important;
        height: 100%  !important;
    }
}

/* Clientes */
@media only screen and (min-device-width:320px) and (max-device-width:1024px) {
    .clientes-item {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

/* Texto "Elige soy Agencia" */
@media only screen and (max-device-width:480px) {
    #elige-soy-agencia {
        margin-top: 6rem;
    }
}

/* Redes Sociales */
@media only screen and (max-device-width:360px) {
    .redes {
        max-width: 5rem;
        max-height: 5rem;
        margin: auto;
    }
}

/* Sección botones*/
@media only screen and (max-device-width:480px) {
    .container-fluid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .row-buttons {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}