.container {
    flex-wrap: wrap;
    width: 100%; 
} 

.row {
    /* margin: auto; */
    display: flex;
}

/* Logotipo y mensaje */
.logo-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #FF26D0;
} 

.logo {
    width: 75%;
    margin: 5% 0;
    /* object-fit: scale-down; */
}

.plataforma {
    font-size: 1.8rem;
    height: 10vh;
    text-align: center;
    margin-top: 0;
    font-weight: bolder;
    color: white;
}

/* Cards botones*/
.card-button {
    display: flex;
    margin: 0.5rem !important;
    /* margin-bottom: 5%; */
    background-color: #FF26D0;
    border: 0;
}

.card-button-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-button-title {
    color: white !important;
    text-align: center;
    text-decoration: none;
    font-size: 1.45rem;
    font-weight: bolder;
    margin: 0;
}

.all-cards {
    width:50vw;
    height:50vh;
    background-color: #f5f5f5;
    justify-content: center;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    /* height: 100%; */
    /* align-items: center;   */
}

.row-buttons {
    margin: auto;
    /* display: flex; */
}

/* Botón flotante */
.float-button{
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    font-weight: bolder;
    color: white;
    background-color: #7F1368 !important; 
    position: fixed;
    left: 2%;
    bottom: 3%;
    z-index: 1;
}

.inputs {
    margin: 1%;
}

/* Fuente */
.font {
    font-family: 'Brandon Grotesque Light';
}

.bigger {
    font-size: 2rem;
}

.text {
    font-size: 1.2rem;
    color: aliceblue;
}

.text-testi {
    font-family: 'Brandon Grotesque Light Italic';
    font-weight: bolder;
}

.testi {
    font-family: 'Brandon Grotesque Light Italic';
    font-size: 1.2rem;
}

/* Cards Elige Soy Agencia */
.elige-soy-agencia {
    /* background-image: url("../img/piñas.png");
    background-size: cover;
    background-position: center; */
    background-color: #F6E4FE;
}
.card-agencia {
    /* margin-top: 15px; */
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.card-body-agencia {
    background-color: #f5f5f5;
}

/* .elige-color {
    color: #FF26D0;
    font-weight: 900;
    text-align: center;
    padding-top: 5%;
} */

.card-header{
    background-color: #E522BB;
    text-align: center;
    color: #ffffff;
}

.font-us {
    font-family: 'Brandon Grotesque Black';
}

.text-card-elige{
    color: black;
    font-weight: bold;
}

.color-text {
    color: #ffffff;
    font-weight: bolder;
    font-size: 2rem;
}

/* Encabezados */
.header {
    color: #FF26D0;
    font-weight: 900;
    text-align: center;
    padding-top: 5%;
}

/* Espacio entre secciones juntas*/
.secciones-agencia {
    margin-top: 5%;
}

/* Cards de Servicios*/
.nuestro-servicio {
    background-color: #f5f5f5;
    padding-bottom: 5%;
}

.our-service {
    padding-top: 3%;
    padding-bottom: 3%;
}

.card-service {
    display: flex;
    margin: auto;
    /* margin-top: 3rem; */
    margin-bottom: 5%;
    background-color: white;
    border: 0;
    min-width: 21rem;
    min-height: 17rem;
    /* background-image: linear-gradient(
        to right top, rgba(127, 19, 104), rgba(255, 38, 208)
    ) */
}

.card-body-service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-title-service {
    font-family: 'Brandon Grotesque Light';
    font-weight: bolder;
    color: #FF26D0;
    text-align: center;
    /* font-size: 1.1rem; */
    margin-bottom: 5%;
    /* margin: 0; */
}

.btn-service {
    background-color: #FF26D0 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white !important;
    border: 0;
    padding: 7px 17px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    width:50%;
}

.icons-services {
    width: 100px;
    fill: #FF26D0;
}

.img-des-dis {
    min-width: 100px;
    margin-left: 50%;
    margin-right: 50%;
}

.tit-des-dis {
    margin-left: 20%;
    margin-right: 20%;
}

/*Video*/
/* .back-video {
    background-image: url("../img/textura.png");
    padding: 1px;
}
.video-cont{
    display: flex;
    margin-top: 20%;
    margin-bottom: 20%;
    width: 100vw;
    height: 100vh;
}

.item-video {
    flex: 1;
} */

/*La Familia Soy Agencia*/
.familia {
    background-color: #7F1368;
}

.back-family {
    color: white !important;
    padding-top: 0;
    font-weight: 900;
    text-align: center;
    margin: auto;
}

.centro {
    margin-right: 1%;
}

.all-gifs {
    margin-top: 4rem;
}

.cont-family {
    width: 100vw;
    padding-top: 3%;
    padding-bottom: 10%;
} 

.gifs {
    max-width: 15rem;
    max-height: 10rem;
    margin: 2% auto;
    border-radius: 80%;
    
}

/* Clientes */
.clientes-item {
    display: flex;
    flex-direction: column;
    margin: 3%;
    max-width: 13rem;
}

/*Testimonios*/
.box {
    margin: 3%;
    max-width: 30rem;
    min-height: 17rem;
}
.empresarios {
    max-width: 100px;
    max-height: 85px;
    border-radius: 50%;
}
.testimonios {
    /* width: 100%; */
    margin: 10% 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
    font-family: 'Brandon Grotesque Light';
}

/* .cont-testimonios {
    width: 1200px;
    margin: 5% auto 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 50px;
    box-sizing: border-box;
    padding: 20px;
} */

.cont-testimonios .box {
    position: relative;
    padding: 45px 40px 40px;
    transition: 0.5s;
    text-align: center;
    background: #fff;
    margin: 3.9%;
}

.cont-testimonios .box:hover {
    background: #E522BB;
}

.p-testi {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.emp-names{
    margin: 20px 0 0;
    padding: 0;
    transition: 0.5s;
    font-size: 18px;
    font-weight: bolder;
    color: #7F1368;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.job {
    font-weight: 600;
    font-size: 14px;
    color: #c5c5c5;
    transition: 0.5s;
}

.cont-testimonios .box:hover .p-testi,
.cont-testimonios .box:hover .emp-names,
.cont-testimonios .box:hover .job {
    color: #fff;
}

.cont-testimonios .box .img-box {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.cont-testimonios .box:after {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 40px; 
    width: 50px;
    height: 50px;
    background: url(../img/quotes.png);
    background-size: cover;
    opacity: 0.05;
    pointer-events: none;
    transition: 0.5s;
    transform: rotate(180deg)translateY(0px);
}

.cont-testimonios .box:hover:after {
    transform: rotate(180deg)translateY(-60px);
    opacity: 1;
}

.cont-testimonios .box::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: url(../img/quotes.png);
    background-size: cover;
    opacity: 0.05;
    pointer-events: none;
    transition: 0.5s;
}

.cont-testimonios .box:hover:before {
    transform: translateY(-25px);
    opacity: 1;
}

/* Redes Sociales*/

.redes {
    font-size: 5rem;
    margin: auto;
    color: #343A40;
}

.position-redes {
    height: 25vh;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FF26D0;
    height: 4rem;
    color: white;
}

.footer {
    text-align: center;
}

.privacidad {
    color: white !important;
    text-decoration: none;
    outline: none;
}

.separador {
    margin-left: 3px;
    margin-right: 3px;
}
/*carousel*/
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

.btn-primary {
    color: #fff;
    background-color: #FF26D0;
    border-color: #FF26D0;
}
.btn-primary:hover {
    color: #fff;
    background-color: #7F1368;
    border-color: #7F1368;
}

.btn-primary:active {
    color: #fff;
    background-color: #7F1368 !important;
    border-color: #7F1368 !important;
    box-shadow: none !important;
}
.btn-primary::before {
    color: #fff; 
    background-color: #7F1368;
    border-color: #7F1368;
}
.btn-primary::after {
    color: #fff;
    background-color: #7F1368;
    border-color: #7F1368;
}
.btn-primary:focus {
    color: #fff;
    background-color: #7F1368;
    border-color: #7F1368;
    box-shadow: none;
}




/*fuente */
@font-face {
    font-family: 'Brandon Grotesque Light';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light'), url('../fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
    }

@font-face {
    font-family: 'Brandon Grotesque Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Regular Italic'), url('../fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
        }

@font-face {
    font-family: 'Brandon Grotesque Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light Italic'), url('../fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff');
            }

@font-face {
    font-family: 'Brandon Grotesque Black';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Black'), url('../fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-black-58a8a3e824392.woff') format('woff');
            }

/* Video */
/* @media only screen and (min-device-width:320px) and (max-device-width:1068px) {
    .video-cont{
        display: flex;
        margin-top: 20%;
        margin-bottom: 20%;
        width: 100vw;
        height: auto;
    }

    .item-video {
        flex: 1;
        width: 100% !important;
        height: 50%;
    }
} */

/* Sección botones*/
@media only screen and (max-device-width:480px) {
    .container-fluid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .row-buttons {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}

/* Clientes */
@media only screen and (min-device-width:320px) and (max-device-width:1024px) {
    .clientes-item {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:414px) {
    .clientes {
        margin-top: 3rem;
    }
}

/* Redes Sociales */
@media only screen and (max-device-width:360px) {
    .redes {
        max-width: 5rem;
        max-height: 5rem;
        margin: auto;
    }
}

/* Footer*/
@media only screen and (max-device-width:480px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #FF26D0;
        height: 9rem;
        color: white;
        padding-left: 5px;
        padding-right: 5px; 
    }
}
/* @media only screen and (min-device-width:320px) and (max-device-width:1023px) {
    .photo {
        width: 100vw;
        height: 100vh;
        background-image: url("../img/Untitled-design\(8\).png");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
} */

/* @media only screen and (min-device-width:1024px) {
    .photo {
        width: 100vw;
        height: 100vh;
        background-image: url("../img/Untitled-design\(9\).png");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
} */

