body {
    width: 110%;   
}
.container {
    flex-wrap: wrap;
    width: 100%; 
    margin-top: 5%;
} 

.row {
    /* margin: auto; */
    display: flex;
}

/* Logotipo y mensaje */
.logo-cont {
    width:100vw;
    height:100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
} 

.item {
    flex: 1;
}

.plataforma {
    font-size: 1.8rem;
    height: 10vh;
    text-align: center;
    margin-top: 0;
    font-weight: bolder;
}

/* Cards botones*/
.card-button {
    display: flex;
    margin: 0.5rem !important;
    /* margin-bottom: 5%; */
    background-color: #FF26D0;
    border: 0;
}

.card-button-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button-title {
    color: white !important;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

.all-cards {
    width:50vw;
    height:50vh;
    background-color: #1D1D1D;
    justify-content: space-between;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    /* height: 100%; */
    /* align-items: center;   */
}

.row-buttons {
    margin: auto;
    /* display: flex; */
}

/* Botón flotante */
.float-button{
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    color: white;
    background-color: #FFC300 !important; 
    position: fixed;
    left: 2%;
    bottom: 3%;
    z-index: 1;
}

.inputs {
    margin: 1%;
}

/* Fuente */
.font {
    font-family: 'Brandon Grotesque Light';
}


.bolder {
    font-family: 'Brandon Grotesque Regular Italic';
}

.bigger {
    font-size: 2rem;
}

.text {
    font-size: 1.2rem;
    color: aliceblue;
}

.text-testi {
    font-family: 'Brandon Grotesque Light Italic';
    font-weight: bolder;
}

.testi {
    font-family: 'Brandon Grotesque Light Italic';
    font-size: 1.2rem;
}

/* Cards Elige Soy Agencia */
.card-agencia {
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    border-color: dimgray;
}

.card-header{
    background-color: #7F1368;
    text-align: center;
    color: #ffffff;
}

.font-us {
    font-family: 'Brandon Grotesque Light';
    font-weight: bolder;
}

.text-card-elige{
    color: black;
    font-weight: bold;
}

.color-text {
    color: #ffffff;
    font-weight: bolder;
    font-size: 2rem;
}

/* Encabezados */
.header {
    margin-top: 15%;
    margin-bottom: 6%;
    text-align: center;
}

/* Espacio entre secciones juntas*/
.secciones-agencia {
    margin-top: 5%;
}

/* Cards de Servicios*/
.card-service {
    display: flex;
    margin: auto;
    margin-bottom: 5%;
    border-color: dimgray;
    min-width: 21rem;
    min-height: 17rem;
    /* justify-content: center; */
    /* align-items: center; */
}

.card-body-service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-title-service {
    font-family: 'Brandon Grotesque Light';
    font-weight: bolder;
    color: black;
    text-align: center;
    /* font-size: 1.1rem; */
    margin-bottom: 5%;
    /* margin: 0; */
}

.btn-service {
    background-color: #FF26D0 !important;
    border: 0;
    padding: 7px 17px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;
}

.icons-services {
    max-width: 100px;
}

/*Video*/
.video-cont{
    display: flex;
    margin-top: 20%;
    margin-bottom: 20%;
    width: 100vw;
    height: 100vh;
}

.item-video {
    flex: 1;
}

/*Gifs*/
.cont-family{
    width: 100vw;
    height: 60vh;
}

.gifs {
    max-width: 15rem;
    max-height: 10rem;
    margin: 2% auto;
}

/* Clientes */
.clientes-item {
    display: flex;
    flex-direction: column;
    margin: 3%;
    /* margin-bottom: 5%; */
    max-width: 13rem;
    /* justify-content: center; */
}

/*Testimonios*/
.box {
    margin: 3%;
    max-width: 30rem;
    min-height: 17rem;
}
.empresarios {
    max-width: 100px;
    max-height: 85px;
    border-radius: 50%;
}
.testimonios {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
    font-family: 'Brandon Grotesque Light';
}

.cont-testimonios {
    width: 1200px;
    margin: 5% auto 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 50px;
    box-sizing: border-box;
    padding: 20px;
}

.cont-testimonios .box {
    position: relative;
    padding: 45px 40px 40px;
    transition: 0.5s;
    text-align: center;
    background: #fff;
}

.cont-testimonios .box:hover {
    background: #E522BB;
}

.p-testi {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.emp-names{
    margin: 20px 0 0;
    padding: 0;
    transition: 0.5s;
    font-size: 18px;
    font-weight: bolder;
    color: #7F1368;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.job {
    font-weight: 600;
    font-size: 14px;
    color: #c5c5c5;
    transition: 0.5s;
}

.cont-testimonios .box:hover .p-testi,
.cont-testimonios .box:hover .emp-names,
.cont-testimonios .box:hover .job {
    color: #fff;
}

.cont-testimonios .box .img-box {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.cont-testimonios .box:after {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 40px; 
    width: 50px;
    height: 50px;
    background: url(../img/quotes.png);
    background-size: cover;
    opacity: 0.05;
    pointer-events: none;
    transition: 0.5s;
    transform: rotate(180deg)translateY(0px);
}

.cont-testimonios .box:hover:after {
    transform: rotate(180deg)translateY(-60px);
    opacity: 1;
}

.cont-testimonios .box::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: url(../img/quotes.png);
    background-size: cover;
    opacity: 0.05;
    pointer-events: none;
    transition: 0.5s;
}

.cont-testimonios .box:hover:before {
    transform: translateY(-25px);
    opacity: 1;
}

/* Redes Sociales*/
.redes {
    max-width: 7rem;
    max-height: 7rem;
    margin: auto;
}

.position-redes {
    height: 100vh;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF26D0;
    height: 10rem;
    color: white;
}

.privacidad {
    color: white !important;
    text-decoration: none;
    outline: none;
}

/*fuente */
@font-face {
    font-family: 'Brandon Grotesque Light';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light'), url('../fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
    }

@font-face {
    font-family: 'Brandon Grotesque Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Regular Italic'), url('../fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
        }

@font-face {
    font-family: 'Brandon Grotesque Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light Italic'), url('../fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff');
            }

/* Video */
@media only screen and (min-device-width:320px) and (max-device-width:1068px) {
    .item-video {
        flex: 1;
        width: 100% !important;
        height: 100%  !important;
    }
}

/* Clientes */
@media only screen and (min-device-width:320px) and (max-device-width:1024px) {
    .clientes-item {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

/* Texto "Elige soy Agencia" */
@media only screen and (max-device-width:480px) {
    #elige-soy-agencia {
        margin-top: 6rem;
    }
}

/* Redes Sociales */
@media only screen and (max-device-width:360px) {
    .redes {
        max-width: 5rem;
        max-height: 5rem;
        margin: auto;
    }
}

/* Sección botones*/
@media only screen and (max-device-width:480px) {
    .container-fluid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .row-buttons {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}