.card {
    margin: auto;
    margin-bottom: 5%;
    background-color: #E3FF03;
}

.container {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
}

.par {
    background-color: #FF70A6;
    color: white;
}

.row {
    margin: auto;
    display: flex;
}

.logo {
    width:50vw;
    height:50vh;
    display:block;
}

.float-button{
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    color: white;
    background-color: #FF00D6;
    position: fixed;
    right: 2%;
    bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    animation-name: btn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 1;
}

/* @keyframes btn {
    from {background-color: #FF00D6;}
    to {background-color: #8DFF0E;}
} */



@media only screen and (min-device-width:320px) and (max-device-width:490px){
    .container { 
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 5%; 
    } 

    .card {
        font-family: 'Montserrat', sans-serif;
        margin: auto;
        margin-bottom: 5%;
        background-color: #E3FF03;
    } 

    .card-title {
        font-size: 1.3rem;
        text-align: center;
        margin: 3%;
    }
    
    
    .par {
        background-color: #FF70A6;
        color: white;
    } 

    .plataforma {
        height: 10vh;
        text-align: center;
        margin-top: 18%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }
    .logo {
        width:100vw;
        height:80vh;
        display:block;
    }
} 

/* col-xs-12 col-sm-12 col-md-3 col-lg-3 */
