/* Cards botones*/
.card-button {
    display: flex;
    margin: auto;
    margin-bottom: 5%;
    background-color: #FF26D0;
    border: 0;
}

.card-button-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button-title {
    color: white !important;
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
}

.all-cards {
    width:50vw;
    height:50vh;
}

.container {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
} 

.remove-link-default{
    text-decoration: none;
}

.row {
    margin: auto;
    display: flex;
}

/* Logotipo y mensaje */
.logo-cont {
    width:100vw;
    height:100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
} 

.item {
    flex: 1;
}

.plataforma {
    font-size: 1.8rem;
    height: 10vh;
    text-align: center;
    margin-top: 0;
    font-weight: bolder;
}

/* Botón flotante */
.float-button{
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    color: white;
    background-color: #FFC300 !important; 
    position: fixed;
    right: 2%;
    bottom: 3%;
    z-index: 1;
}

/* Fuente */
.font {
    font-family: 'Montserrat', sans-serif;
}


.bolder {
    font-weight: bolder;
}

/* Espacio entre secciones juntas*/
.secciones {
    margin-top: 5%;
}

/* Cards de Servicios*/
.card-service {
    display: flex;
    margin: auto;
    margin-bottom: 5%;
    border-color: black;
}

.card-title-service {
    color: black;
    text-align: center;
    /* font-size: 1.1rem; */
    margin: 0;
}

.btn-service {
    background-color: #FF26D0;
    border: 0;
}


@media only screen and (min-device-width:320px) and (max-device-width:490px){
    /* .container { 
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 5%; 
    }  */

    /* .card {
        margin: auto;
        margin-bottom: 5%;
        background-color: #DDF902;
        border: 0;
    }  */
/* 
    .card-title {
        font-size: 1.3rem;
        text-align: center;
        margin: 3%;
    } */

    /* .font {
        font-family: 'Montserrat', sans-serif;
    } */
    
    /* .plataforma {
        font-size: 1.8rem;
        height: 10vh;
        text-align: center;
        margin-top: 18%;
        font-weight: bolder;
    } */
    /* .logo {
        width:100vw;
        height:80vh;
        display:block;
    } */

    /* .logo-cont { */
        /* display: flex;
        align-content: center;
        margin: 0;
        padding: 0;
        display:block; */

        /* width:100vw;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em;  */
    
    

    /* .elementos-plataforma {
        height: 50vh;
        width: 50vw;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }  */

    /* .input {
        border-color: #EAEAEA;
    } */
} 

